tomasrivera.ch {
  root * /srv/www
  file_server
}

archive.tomasrivera.ch {
    reverse_proxy archivebox:8000
}
video-archive.tomasrivera.ch {
    reverse_proxy filebrowser:80
}
hledger.tomasrivera.ch {
  log {
    output stdout
  }
  basic_auth {
    tomasr {$HLEDGER_PASSWORD_HASH}
  }
  reverse_proxy host.docker.internal:5000
}
rss.tomasrivera.ch {
  reverse_proxy freshrss:80
}

status.tomasrivera.ch {
  reverse_proxy uptime-kuma:3001
}

ntfy.tomasrivera.ch {
  reverse_proxy ntfy:80
}

notes.tomasrivera.ch {
  reverse_proxy flatnotes:8080
}
