[Unit]
Description=Run FreshRSS favorite article archiver periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
